@charset "utf-8";

:root {
  --font-size: 12px;
  --line-height: 20px;
  --font-family: 'custom_mono';
}

::-webkit-scrollbar {
  display: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: var(--font-family);
  font-size: 12px;
  overflow: auto;
  transition: background-color 500ms, filter 150ms;
  overflow: hidden;
}

body textarea {
  font-family: var(--font-family);
  padding: 10px 10px 0;
  height: calc(100vh - 130px);
  display: block;
  width: 50vw;
  position: fixed;
  left: 5vw;
  font-size: var(--font-size);
  line-height: var(--line-height);
  resize: none;
  background: transparent;
  overflow: auto;
  max-width: 90%;
  transition: left 200ms;
  margin-left: -15px;
}

body {}

* {
  background-color: inherit;
}
